
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d7c7c
}

h1 {
    font-size: 2.5em;
    color: white;
}

h2 {
    margin-top: 20px;
}

.burguer-menu {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20px;
    cursor: pointer;
}



.background {
    background-color: black;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.image-back {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app {
    display: none;
}


#iname {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(212, 192, 192, 0.548);
    background-color: rgba(255, 255, 255, 0.966)
}



input[type="text"] {
    padding: 10px;
    font-size: 1em
}


#button-search{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;

}

#clima {
    margin-top: 30px;
    font-size: 3em;
    color: white;
    
    
  
}

.loading {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.outrosDados {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    color: white;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: 50px;
    

}

.search {
    margin: 5px auto;
    position: relative; /* Referência para posicionamento absoluto da .sugestoes */
}


.sugestoes {
    position: absolute; /* Tira do fluxo normal */
    top: 80%; /* Logo abaixo do input */
    left: 5px;
    right: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white; /* Fundo para visibilidade */
    border: none;
    border-radius: 4px;
    max-height: 150px; /* Limita a altura */
    overflow-y: auto; /* Rolagem se necessário */
    z-index: 100; /* Acima de outros elementos */
}
  
  .sugestoes li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sugestoes li:hover {
    background-color: #eee;
  }

.init {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    margin-bottom: 5px;
}



.contact svg {
    margin: 2px;
}

.button-iniciar {
    width: 70%;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: white;
    color: black;
}

.button-iniciar:hover{
    background-color: #bebebe;
}