
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d7c7c
}

h1 {
    font-size: 2.5em;
    color: white;
}

h2 {
    margin-top: 20px;
}

.background {
    
    background-color: black;
    width: 400px;
    height: 550px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.image-back {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app {
    display: none;
}


#iname {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(212, 192, 192, 0.548);
    background-color: rgba(255, 255, 255, 0.966)
}



input[type="text"] {
    padding: 10px;
    font-size: 1em
}


#button-search{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

#clima {
    margin-top: 30px;
    font-size: 3em;
    color: white;
    
  
}

.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}

.outrosDados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    margin-top: 50px;
    font-size: 1.1em;

}


.sugestoes {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    background: white;
    border: none;
    max-height: 120px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
  }
  
  .sugestoes li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sugestoes li:hover {
    background-color: #eee;
  }

.init {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-iniciar {
    width: 70%;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bolder;
}

.button-iniciar:hover{
    background-color: #bebebe;
}