

:root {
    --color1: #2e2f33;
    --color2: #D35363;
    --color3: #252628;
    --color4: #626262;
    --font1: 'Montserrat';
    --font2: 'Oxanium';
    
}  

* {
    padding: 0;
    margin: 0;
    font-family: var(--font1);
    box-sizing: border-box;
}

body, main {
    height: 100%;
    width: 100%;
    background-color: var(--color1);
}



#abrir-menu{
    display: none;
    background-color: #333;
    color: white;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    position: fixed;
}

#abrir-menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.4em;
    border: 1px solid var(--color2);
    border-radius: 5px;
    
}

#abrir-menu a:hover{
    background-color: var(--color2);

}


#menu-burguer {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    display: none;
}


#navbar {
    display: flex;
    background-color: var(--color3);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: fixed;
    width: 100vw;
    top: 0;
}

#lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    gap: 20px;
}

#lista li {
    list-style: none;
    margin-left: 20px;
}

#lista li a {
    text-decoration: none;
    color: var(--color4);
    font-size:20px;
}

.portifolio {
  flex: 1;
  margin-left: 30px;
}

.portifolio h1 {
    color: var(--color4);
    font-size: 1.5rem;
}


#navbar a:hover{
    color: var(--color2);
    transition: all 0.5s;
}

#about-me, #title, #projects, .certificates{
    scroll-margin-top: 200px;  /* Faz a pagina criar uma margem ao clicar em um icone de ancora no navbar*/
}

#welcome-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 8vw;
    margin-left: 150px;
    font-size: 3em;
    color: white;
}

#typingEffect{
    font-family: var(--font2);
}


.text-container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    max-width: 50%; /* Garante que os textos não ocupem toda a largura */
    gap: 15px; /* Espaçamento entre os elementos */
    height: 400px;
    margin-top: 20px;
}


.text-container p {
    font-size: 2rem;
    color: var(--color4);
}




.myPhoto {
    border-radius: 20px;
    border: 3px solid var(--color2);
    box-shadow: 0 4px 10px var(--color2);
    background-image: url('img/gilson.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-right: 80px;
}




.buttons {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 0s 1s;

}

.buttons.show-buttons {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease; /* Só a opacidade precisa de transição agora */
}


#contact{
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 10px;
    color: var(--color2);
    font-size: 12px;
    text-decoration: none;
}

#contact:hover {
    background-color: #D35363;
    color: white;
    cursor: pointer;
}

#container {
    width: 80%;
    margin: auto;
    margin-top:300px;
}

.container2 { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

#title{
    display: block;
    text-align: center;
    color: var(--color2);
    font-size: 1.8em;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    border: 1px solid var(--color2);
    border-radius: 8px; /* Bordas arredondadas */
    color: var(--color2);
    width: 500px;
    padding: 5px;
}

#about-me {
    font-family: var(--font2);
    background-color: var(--color1);
    border-radius: 20px;
    padding: 20px;
    border: 2px solid var(--color2);
    color: white;
    line-height: 1.6;
    font-size: 1em;
    box-shadow: 0 4px 10px var(--color2);
    height: auto; /* Permite que a altura seja ajustada automaticamente */
    max-width: 100%; /* Garante que o elemento ocupe no máximo 100% da largura */
    width: 100%; /* Ajusta a largura para 90% da tela */
    margin: 0 auto; /* Centraliza o elemento na tela */
}

#skills-wrapper { 
    margin: 130px auto ;
    overflow: hidden;
    white-space: nowrap;  /* Evita quebra de linha */
}


#all-skills {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    gap: 30px;
    animation: mover 20s linear infinite;
    width: calc(200% + 50px); /* Para a rolagem contínua */
    
}

.all-skills img{
    width: 100px;
    height: 100px;
    
}

@keyframes mover{
    0% {
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

.html,.css,.javaScript{
    width: 100px;
    height: 100px;
    margin: 50px;
}

#projects, .certificates {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color2);
    margin: auto;
    margin-bottom: 80px;
    border-radius: 20px;
    box-shadow: 0 4px 10px var(--color2);
    max-width: 1300px;
    width: 100%;
    margin-bottom: 200px;
   
}


.certificado img {
    width: 350px;
    height: 200px;
}


.project-tile {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    margin-top: 50px;
}


.certificate-tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 50px;
    
}

.certificado {
    transition: transform 0.3s ease
}

.certificado:hover{
    transform: scale(1.2);
}


.project-tile img {
    margin-top: 5px;
    width: 350px;
    height: 200px;
    margin-bottom: 100px;
    border: 3px solid var(--color4);
    margin: 40px;
    border-radius: 20px;
}


.project-tile img:hover {
    border: 3px solid var(--color2);

}   

.project-tile a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "icon icon icon icon"
    "info info info info";
    background-color: var(--color3);
    align-items: center;
    justify-content: center;
    height: 130px;
}


footer img {
    margin: 10px;
    grid-area: icon;
}

#info {
    grid-area: icon;
    text-align: center;
}

#info h2 {
    color: var(--color2);
    text-decoration: underline;
}



#copy{
    display: block;
    height: 40px;
    background-color: var(--color3);
    color: #D35363;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {   /* Estilo para Celulares */



    .myPhoto {
        width: 300px; /* Ajuste o tamanho para dispositivos pequenos */
        height: 300px;
        margin: 20px auto 80px auto; /* Garante que a imagem tenha espaço adequado */
        border-radius: 30%; /* Torna a imagem circular */
    }

    /* Ajustar o layout da seção de boas-vindas */
    #welcome-section {
        flex-direction: column;
        text-align: start;
        margin: 200px 10px 100px 10px;
        font-size: 2.3rem;

    }

    .text-container  {
        max-width: 100%;
    }

    .text-container p {
        font-size: 1.5rem;
    }


    #container {
        width: 90%;
        margin: 10px 20px 20px 10px;
       

    }

    .container2{
        grid-template-columns: 1fr;
    }

    #skills {
        margin-left: 20px;
        margin-right: 20px;
        
    }

    #all-skills {
        animation: mover 5s linear infinite;
        
    }

    #title{
        width: 300px;
    }

    #projects, .certificates {
        margin: 30px 20px 150px 20px;
        width: 90%;

    }

    .project-tile {
        display: grid;
        grid-template-columns: 1fr;
    }



    .certificate-tile {
        grid-template-columns: 1fr;
        
    }

    #menu-burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 30px;
        
    }

    #navbar a {
        display: none;
    }

}


@media (min-width: 769px) and (max-width: 1023px) {  /*Estilo para Tablets */
    #welcome-section {
        width: 90%;
        margin: 280px 80px;
        font-size: 2.5em;
        
        
    }

    #container {
        width: 80%;
        margin: auto;

    }

    #skills {
        width: 500px;
        margin: 200px auto;
        
    }

    .all-skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }


    #projects {
        margin-left: 20px;
        margin-right: 20px;
        width: 900px;
        margin: 20px auto 200px auto;
    }

    .project-tile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}

















