
:root {
    --color1: #2e2f33;
    --color2: #D35363;
    --color3: #252628;
    --color4: #626262;
    
}  

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body, main {
    height: 100%;
    width: 100%;
    background-color: var(--color1);
}


#navbar {
    background-color: var(--color3);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

#navbar a {
    text-decoration: none;
    margin-right: 60px;
    color: var(--color4);
    font-size:18px;

}

#navbar a:hover{
    color: var(--color2);
    transition: all 0.5s;

}

#welcome-section {
    margin-top: 150px;
    margin-left: 150px;
    
    font-size: 2em;
    
    color: white;
}

#welcome-section p {
    color: var(--color4);
    font-size: 24px;
}

strong{
    color: var(--color2);
}

#contact{
    margin-top: 50px;
    padding: 10px;
    width: 150px;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 10px;
    color: var(--color2);
    font-size: 12px;
}

#contact:hover {
    background-color: #D35363;
    color: white;
    cursor: pointer;
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 100px;
   
}

#about-me {
    background-color:var(--color1);
    border-radius: 20px;
    
    padding: 20px;
    border: 2px solid var(--color2);
    color: white;
    line-height: 30px;
    font-size: 1.2em;
   
}







