@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #774936;
    background-image: url(img/background.jpg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    
}

ul {
    list-style: decimal;
}



#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: auto auto;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #a12777;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


h1, p {
    font-size: 3em;
    color: #00163D;
    margin-bottom: 30px;

}

li {
    color: #00163D;
    font-size: 1.5em;
}


#botoes{
    display: flex;
}

#start, #stop, #reset, #savetime {
    width: 100px;
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #882867;
    color: white;
    border-radius: 10px;
    border: none;
    
}

#start:hover, #stop:hover, #reset:hover, #savetime:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
    transition: all 1s;
}

@media screen and (max-width: 1000px){

    #start, #stop, #reset, #savetime {
        width: 70px;
        height: 40px;
        margin: 10px;
        
    }

    #container {
        width: auto;
    }



}